{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}        

<h1>Contact</h1>

<p>
  Associate Professor of Psychology<br />
 <a href="http://psych.la.psu.edu">Department of Psychology</a><br />
  Bruce V. Moore Building<br />
 <a href="http://www.psu.edu">The Pennsylvania State University</a><br />
  University Park, PA 16802<br />
  <br />
  
  voice: (814) 865-3664 <br />
  fax: (814) 863-7002<br />
  <br />  
  email: <a href="mailto:rogilmore@psu.edu">rogilmore AT-SIGN psu DOT edu</a><br />
  email: <a href="mailto:rogilmore@me.com">rogilmore AT-SIGN me DOT com</a></br />
  email: <a href="mailto:rick@rick-gilmore.org">rick AT-SIGN rick-gilmore DOT org</a></br />

  <br />
  chat: (AIM/Google): thatrickgilmore<br />
  appointment scheduler: <a href="http://doodle.com/rickgilmore">doodle.com/rickgilmore</a><br />
  Skype, <a href="http://twitter.com/rogilmore">Twitter</a>: rogilmore<br />
  </p>
<p><a href="http://brainlab.psych.psu.edu">http://brainlab.psych.psu.edu</a><br />
  <a href="http://www.personal.psu.edu/rog1">http://www.personal.psu.edu/rog1</a><br />
  <a href="http://www.imaging.psu.edu">http://www.imaging.psu.edu<br />
  </a><a href="http://www.databrary.org">http://databrary.org</a>
  <br />
  <a href="http://rick-gilmore.org">http://rick-gilmore.org</a></p>

{% endblock content %}

