{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}        

<h1>Play</h1>

<h2>Bio</h2>
<p>I grew up in Denver, Colorado then headed East to go to college. In 1985, I earned my B.A. in Cognitive Science  at <A HREF="http://www.brown.edu/">Brown University</A>. After graduation, I worked in Washington, DC for several non-profit organizations doing fundraising, public relations, and volunteer management. For a short time  I was an international trade and public affairs consultant. In 1992, I  started graduate school, earning my M.S. and Ph.D. degrees in Psychology at <A HREF="http://www.cmu.edu/">Carnegie Mellon University</A> where I focused on developmental cognitive neuroscience. I also participated in the <A HREF="http://www.cnbc.cmu.edu/">Center for the Neural Basis of Cognition (CNBC)</A> Graduate Training Program. I moved to State College in 1997. I am married and have two daughters.</p>

<h2>Arts</h2>
<p>My family and I are all involved in local theatre. My wife and I met in a community theatre production back in Washington, D.C. Recent shows have included &quot;Oliver!&quot;, &quot;The Sound of Music,&quot; and &quot;Sweeney Todd,&quot; with <a href="http://singingonstage.com">Singing Onstage</a>, and &quot;Dracula&quot; and &quot;The Survivor&quot; with the <a href="http://www.scctonline.org">State College Community Theatre</a> (SCCT).</a> I am former president and producer at SCCT. I performed in The Next Stage theatre's production of &quot;<a href ="http://en.wikipedia.org/wiki/The_Memory_of_Water">The Memory of Water</a>&quot; during the summer of 2012 and in &quot;<a href="http://en.wikipedia.org/wiki/Harper_Regan">Harper Regan</a>&quot; in Spring 2013.</p>
<p>Needless to say, I love to sing and dance. I'm also learning to play a number of instruments, including the banjo,  mandolin, harmonica, and tin whistle. I play a bit of guitar, too.</p>
      
<h2>Advocacy</h2>
<p>I am involved in local politics, serving as clerk and acting Judge of Elections in my State College precinct over the past few elections. I was a moderate Republican for many years, but changed parties more than a decade ago. My wife and I serve as Democratic Precinct Co-chairs. I am a fiscal conservative and a social liberal.</p>
<p>I was a volunteer with the <a href="http://www.centrebike.org/index.php">Centre Region Bike Coalition</a> for several years, including serving as president. In that time, I helped lead an effort to build the <a href="http://www.arboretum.psu.edu/planning/rail.html">Bellefonte Central Rail Trail</a> through the Penn State Arboretum.</p>

<h2>Adventure</h2>
<p>I like to hike, backpack, kayak and ride my bicycles: a foldable touring <A HREF="http://www.bikefriday.com/">Bike Friday</A>, and a Specialized Hybrid that I sometimes use to commute to work.</p>

<h2>Technology</h2>
<p>I'm  a bit of a techno-geek (Mac, iPhone, iPad). I  speak passable *nix, am learning to be my own sysadmin, and I like to program in R and Matlab. I'm learning JavaScript, Python, and Ruby, and I roll my own HTML and CSS. When I have time, I enjoy playing around with electronics -- you can say Arduino to me and I'll say Uno. I'd really like to get a Raspberry Pi and one day a Lego Mindstorms Robotics kit.</p>

{% endblock content %}

